# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/


# VS Code settings
.vscode/

# Pytest cache
.cache/
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs

# video files
resources/video/
resources/output_large_video/

# Model files  

# Triton model repository output or temp folders
models/**/1/
models/**/output/
models/**/*.pbtxt~

# Video / media files
videos/*.mp4
videos/*.avi
videos/*.mov

# Docker
*.pid
*.db
*.sock
docker-compose.override.yml

# Ignore data/results
results/
output/
inference_results/
*.npy
*.npz

# OS files
.DS_Store
Thumbs.db

# GitHub Actions artifacts (if any)
.github/workflows/*.log
